<!doctype html>
<html lang="en">
  <head>
    <!-- HTML properties -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base target="_blank">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css"> 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Web3 -->
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
    <!-- FileSaver.js -->
    <script src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.min.js"></script>
    <!-- Title -->
    <title>Fondu ICO</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Overpass+Mono" rel="stylesheet">
  </head>
  <body>
    <div class="main">
      <div class="corner">
        <div class="corner-trianlge"></div>
      </div>
      <div class="container">
        <h1>Fondu ICO</h1>
        <h6>Interactive White Paper [<a href="https://fondu.io?lang=en">English</a>, <a href="https://fondu.io?lang=ru">Russian</a>, <a href="https://fondu.io?lang=ch">Chinese</a>]</h6>
        <h6>Author: <a href="https://t.me/borodutch">Nikita Kolmogorov</a></h6>

        <h2>Introduction</h2>
        <p>This paper is a proposal to the whole crypto and open source community that potentially can save millions of dollars and provide the opportunities for highly valuable yet underrated startups and companies to emerge. ICO market is sick and we have to fix it: swamped with parasites that leach on the industry providing the visionaries with highly overpriced hopes.</p>
        <p>As we all know — most of the things in IT can be made more efficient my making it automatic. So why is the ICO market any different? We propose solutions that will allow our community to create semi-automatic open source service to create and manage any types of ICO. With minimal steps users will be able to fill in their ICO profile, configure the smart-contract with a series of simple questions and start raising money with a marketing-ready website.</p>
        <p>If you have ever tried to conduct or conducted an ICO you know that writing a smart contract can be as costly as <b>$10,000 to $75,000</b> and creating a marketing website can be priced from <b>$30,000 to $70,000</b> — however, after you spend all this money you are left with a generic website and a slightly modified ERC20 token smart-contract. Why can't it be done automatic?</p>

        <h2>Product</h2>
        <p>Solution that we propose consists of three simple modules: ICO constructor, ICO presenter and Investor Personal Profile. Let us explain each of them.</p>
        <ul class="article_list">
          <li><b>ICO constructor</b> — simple webpage with forms that you fill with the ICO information like token name, team details, product description, logo, screenshots, social network contacts, legal details, whitepapper, roadmap, etc. Smart-contract constructor is a part of this module that allows you to fill simple forms, answer a series of multiple-choice questions and get a smart-contract deployed to the ETH and/or EOS blockchain.</li>
          <li><b>ICO presenter</b> — after constructing the ICO with the previous tool you will get a personalized profile page that can act as the main website for the ICO and can contain all the necessary information for the investors including live ICO progress (we'll fetch the smart-contract state in the real time), important milestones and the contract address. Everything is hosted on Fondu platform and has zero costs assosiated with keeping it up.</li>
          <li><b>Investor Personal Profile</b> — one of the most difficult to implement and one of the most expensive things in any ICO. This is the part that allows potential investors to pre-register for the sale and seek for approval — as well as a perfect tool to provide KYC and whitelisting functionality to the ICO conductors. We intend to make this module a part of the initial release — as it will allow to drastically decrease the costs associated with ICO and improve investors' user experience.</li>
        </ul>  
        <p>But the main goal of our project is to bring ICO concept back down to the usual people, so that anybody can use smart-contracts to conduct any type of the crowdfunding. Whether it is something happy — like funding wedding with the help of guests (instead of them buying presents), or rather unfortunate — like funding a necessary complex medical operations for the ones in need. Everybody should be able to launch ICO without headache and large capital investment.</p>
        <p>In case you wonder how difficult it is to build things that we aim at, look at what I've wrote in 5 minutes while drinking my morning coffee:</p>

        <!-- Profile Constructor Vue -->
        <div id="profile-constructor">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm left-bordered">
                <form>
                  <input type="text" class="form-control" placeholder="Enter title" v-model="title">
                  <textarea class="form-control" placeholder="Enter product description" v-model="description"></textarea>
                  <textarea class="form-control" placeholder="Enter team details" v-model="team"></textarea>
                  <textarea class="form-control" placeholder="Enter legal details" v-model="legal"></textarea>
                </form>
              </div>
              <div class="col-sm left-bordered">
                <h4>{{ title || titleSample }}</h4>
                <p>{{ description || descriptionSample }}</p>
                <h4>Team:</h4>
                <p>{{ team || teamSample }}</p>
                <h4>Legal:</h4>
                <p>{{ legal || legalSample }}</p>
              </div>
            </div>
          </div>
        </div>

        <p>It wasn't difficult to setup your first ICO profile, was it? Maybe, it will be harder to create a smart-contract constructor? Let's see, I've got 5 more minutes to spare:</p>

        <!-- Smart contract Constructor Vue -->
      <div id="contract-constructor">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm left-bordered">
                <form>
                  <small class="form-text">Human-readable name of your token like "Fondu", "Bitcoin" or "Ethereum":</small>
                  <input type="text" class="form-control bottom-margin" placeholder="Name" v-model="name">
  
                  <small class="form-text">Symbol of your token like "FDU", "BTC" or "ETH":</small>
                  <input type="text" class="form-control bottom-margin" placeholder="Symbol" v-model="symbol">
  
                  <small class="form-text">Number of decimals your currency supports; for instance, Ethereum can go as low as 18 decimals or 0.000000000000000001 ETH:</small>
                  <input type="number" class="form-control bottom-margin" placeholder="Decimals" v-model="decimals">
  
                  <small class="form-text">Rate of how many of your tokens will user get for 1 ETH</small>
                  <input type="number" class="form-control bottom-margin" placeholder="Rate" v-model="rate">
  
                  <small class="form-text">ETH wallet that will receive the collected funds:</small>
                  <input type="text" class="form-control bottom-margin" placeholder="Wallet" v-model="wallet">
  
                  <small class="form-text">Whether your crowdsale is bounded by a time frame or not:</small>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" v-model="timed">
                      Is this crowdsale timed?
                    </label>
                  </div>
                  <div v-if="timed">
                    <small class="form-text">Start date</small>
                    <input type="text" class="form-control bottom-margin" v-model="startDate">
                    <small class="form-text">End date</small>
                    <input type="text" class="form-control bottom-margin" v-model="endDate">
                  </div>
  
                  <div v-if="timed">
                    <small class="form-text">Whether the funds will be held untill softcap is reached and will be returned to the investors if softcap isn't reached:</small>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" v-model="refundable">
                        Is this crowdsale refundable?
                      </label>
                    </div>
                    <div v-if="refundable">
                      <small class="form-text">Specify softcap — how many tokens you need to gather in order not to trigger the refund mechanism</small>
                      <input type="number" class="form-control bottom-margin" placeholder="Softcap" v-model="goal">
                    </div>
                  </div>
  
                  <div v-if="timed">
                    <small class="form-text">Do you need the rate of token to decrease over time so that the sooner you buy the tokens the larger amount of tokens you get?</small>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" v-model="increasingPrice">
                        Does the crowdsale have increasing price?
                      </label>
                    </div>
                    <div v-if="increasingPrice">
                        <small class="form-text">Rate of how many of your tokens will user get for 1 ETH at the beginning of the crowdsale</small>
                        <input type="number" placeholder="Start rate" class="form-control bottom-margin" v-model="startRate">
                        <small class="form-text">Rate of how many of your tokens will user get for 1 ETH in the end of the crowdsale</small>
                        <input type="number" placeholder="End rate" class="form-control bottom-margin" v-model="endRate">
                    </div>
                  </div>
  
                  <small class="form-text">Whether you have the maximum value of tokens sold:</small>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" v-model="capped">
                        Is this crowdsale capped?
                      </label>
                    </div>
                    <div v-if="capped">
                      <small class="form-text">What is the maximum amount of tokens you intend to raise?</small>
                      <input type="number" class="form-control bottom-margin" placeholder="Hardcap" v-model="cap">
                    </div>
  
                    <small class="form-text">Would you like to accept Ethereum only from the whitelisted addresses?:</small>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" v-model="whitelisted">
                        Is this crowdsale whitelist only?
                      </label>
                    </div>
                </form>
              </div>
              <div class="col-sm left-bordered">
                <div class="code">
                  <code><pre>{{code}}</pre></code>
                </div>
                <br>
                <button type="button" class="btn btn-primary" v-on:click="download">Download files</button>
                <br><br>
                <p>What's next?</p>
                <ol>
                  <li>Run <code>./deploy.sh</code> in the root folder of the zip you've downloaded</li>
                  <li>Follow the steps of the deployer</li>
                  <li>Enjoy your smart-contract deployed!</li>
                </ol>
              </div>
            </div>
          </div>
        </div>

        <p>Nice! You've just written your first smart contract! <b>$70,000</b> they say — and you just did it for free! Obviously, it's just a simple demo of ERC20 tokens without the crucial part — ICO token distribution, but believe me — it is as simple as the example above. Most of the ICO's just get copy\paste generic code with names of tokens, owner ETH addresses and supply amount changed. ICO visionaries literally get robbed in the broad daylight — and we just want to help stop it.</p>
        <p>So far, I guess, you've learnt about our mission and what we are trying to implement. Simple ICO constructor, ICO presenter and Investor Personal Space — serivce where launching ICO will not take more than 15 minutes of configuration process. Obviously, to achieve such a goal we need an experienced team of developers and contributors. So who's behind the whole Fondu thing?</p>

        <h2>Team</h2>
        <div class="row">
          <div class="col-sm-9">
            <h5>Nikita Kolmogorov [<a href="https://t.me/borodutch">TG</a>, <a href="https://fb.me/borodutch">FB</a>]</h5>
            <p>Creator of <a href="https://t.me/voicybot">@voicybot</a> (1,500,000 users, <a href="https://github.com/backmeupplz/voicy">open source</a>), <a href="https://t.me/banofbot">@banofbot</a> (150,000 chats, <a href="https://github.com/backmeupplz/banofbot">open source</a>), <a href="https://toreador.io">Toreador.io</a>  (over $1,000,000 of trading capital), <a href="https://t.me/golden_borodutch">@golden_borodutch</a> — Telegram channel with over 12,000 subscribers with the focus on cryptocurrencies, IT and self-development. One of the main contributors to <a href="https://t.me/arbeit_bot">@arbeit_bot</a> (<a href="https://github.com/arbeitbot">open source</a>).</p>
            <p>Started to code at the age of 12 he has participated in 35+ projects as a developer, IT enthusiast, manager, lead and consultant. His main focus at the moment is working on his personal projects as well as consulting startups in terms of launching Minimal Viable Products and establishing technical superiority.</p>
            <p>Nikita is a strong believer that coding talents can be used for greater good and that money comes not from building things but after producing something that brings the most value to the larger amount of people.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/nikita.jpg"></p>
          </div>
        </div>

        <p><i>Disclaimer: the only person that works at Fondu at the moment is Nikita Kolmogorov. The following team members are potential and agreed to participate in the project in case of the successfull funding. The following people are not responsible for anything in the project at the moment and are not to be held responsible for any actions taken by Fondu.</i></p>

        <div class="row">
          <div class="col-sm-9">
            <h5>Nikita Pechenov [<a href="https://t.me/zachot">TG</a>]</h5>
            <p>Has over 10 year of commercial development experience. Worked with numerous companies as a contractor with projects ranging from entertainment mini-apps to large busness-architectures. Has worked with Amwey, Sberbank, Alfabank, Tinkoff and OneTwoTrip. Currently works mainly as a frontend engineer however also practices writing backend to maintain the skill. At the moment consults <a href="https://bestrate.org">BestRate</a> and <a href="https://toreador.io">Toreador</a>.
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/zachot.jpg"></p>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-9">
            <h5>Artyom Chebotaryov [<a href="https://t.me/Derik117">TG</a>, <a href="https://vk.com/derik117">VK</a>]</h5>
            <p>Creator of <a href="https://t.me/VoterBiBot">@VoterBiBot</a> — sweepstakes bot for Telegram groups and channels, full-stack developer specializing in Python Django and Vue.js. Has been involved in a series of different IT ventures as a coder: starting with electronics parts websites parser for one of the companies and continuing to building software solutions for <a href="http://neolab.io">Neolab</a> as well as building event-oriented Telegram bots followed by an alternative to Monitor (courtesy of <a href="https://medium.com/meduza-how-it-works/introducing-monitor-cms-for-human-corrected-news-aggregator-92d4105c5cf4">Meduza</a>).</p>
            <p>Started his develop career 2 years ago. Got head over heels in love with programming beause of the opportunity to create products valuable for people as well as to freely work where and when he decides. He loves backend development and works with bigdata as a hobby.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/artem.png"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h5>Aleksandr Mihhailov [<a href="https://t.me/jet4fire">TG</a>]</h5>
            <p>Goal oriented fullstack developer with 7+ years of development experience. He is always looking to work on exciting projects with exciting people and strives to participate in social-oriented projects. Likes learning new programming languages and techniques.</p>
            <p>Spent most of his career picking up and mastering new skills. Thus, he has extensive experience with the MEAN stack, Ruby, TypeScript and various databases. Has participated in the development of <a href="https://adcash.com">adcash</a>, <a href="http://tacticrealtime.com/">Tactic</a>, <a href="http://motiva.ee/">motiva</a>.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/alexandr.jpg"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h5>Artem Biryukov [<a href="https://t.me/impowski">TG</a>]</h5>
            <p>Has began his developer career in 6th grade with Pascal. Have since transitioned to a more serious programming tasks to solve business problems and as a hobby to build valuable products for various markets. Fondu has attracted him as a fascinating idea solving multiple industry-wide issues and a way to gather blockchain related experience.</p>
            <p>Has contributed to Mozilla open source repositories, <a href="https://github.com/rust-lang-nursery/rust-bindgen">rust-bindgen</a>, <a href="https://github.com/servo/servo">servo</a> and <a href="https://github.com/SergioBenitez/Rocket">Rocket</a>. Experienced in Node.js, JavaScript (Vue, React), Python, Rust, Go as well as various databases, Docker, GraphQL, etc.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/artem.jpg"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h5>Alexey Kakotkin [<a href="https://t.me/a_alexei_0">TG</a>]</h5>
            <p>Started do develop software in high school, has been doing commercial development for the last 3 years. Started programming as a way to strech his knowledge and challenge the brain. Wants to participate in Fondu as a part of the crypto experience.</p>
            <p>Has been working on various hobby projects, <a href="https://gitlab.com/Apyr/diary">the most recent</a> one being a personal blogging platform. His main tech stack at the moment is React, Python, Java, C#, Go — as represented by his <a href="https://gitlab.com/Apyr">GitLab profile</a>.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/alex.jpg"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h5>Rauf Salikhov [<a href="https://t.me/avrdude">TG</a>]</h5>
            <p>Has started development 2 years ago as a part of a small freelance project. Since then he has grown as a programmer to use more advanced and sophisticated technologies including the MEAN stack and Vue.</p>
            <p>Unfortunately, no traces of his previous projects are left on the Internet, however he has wide experience with developing a network of websites for various businesses like real-estate agencies, car dealerships, beauty product distributors. Has peaked into the mobile development starting with Swift.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/rauf.jpg"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h5>Michel Erohov [<a href="https://t.me/wsmichel">TG</a>]</h5>
            <p>Frontend developer who started his career in 2014. Participated in the currenlty shut down project Controlio. Currently works at <a href="https://bbdogroup.ru/">BBDO</a>. Fondu has caught him as an opportunity to contribute to the comunity and increase his presence in the open source world.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/michel.jpg"></p>
          </div>
        </div>

        <h2>Advisors</h2>
        <p><i>Disclaimer: the only thing that adivsors do in Fondu is advising the project. They do it completely pro bono and no risks should be ever associated with them as well as they should not be held responsible for anything — the only people who are fully responsible for Fondu are the actual project team of contributors. Also worth noting that even though all the advisors listed agreed to participate in the project after successfull funding, not all of them actively advise the project at the moment.</i></p>

        <div class="row">
          <div class="col-sm-9">
            <h5>Max Frolov [<a href="https://t.me/maffa">TG</a>, <a href="https://www.linkedin.com/in/maksimfrolov/">LI</a>]</h5>
            <p>Visionary, ICO and legal advisor. Managed projects in a company group that develops Russian stock market. Participated in listing of the foreign securities on Saints-Petersburg Exchange, off-market exchanges and ETF clearing. Was a part of the crypto exchange launch attempt in Russian jurisdiction which is now setting up in Switzerland.</p>
            <p>Was responsible for business-architecture of the solutions, efforts and releases planning as well as brokers comunication at <a href="https://spbexchange.ru">SPB Exchange</a>, <a href="https://nprts.ru">NPRTS</a> and <a href="https://voskhod.io">Voskhod</a>.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/max.jpg"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h5>Aler Denisov [<a href="https://t.me/alerdenisov">TG</a>]</h5>
            <p>Blockchain enthusiast and technical advisor at Fondu. Has broad experience at development of various projects. Founder of <a href="https://vibrance.ru">Vibrance</a> devshop that has developed apps for multiple high-end brands. Recently participated in the development of <a href="https://tokenstars.com/ru/ace">Ace Token</a>, <a href="https://tokenstars.com/ru/team">Team Token</a>, <a href="https://alt.estate">Alt Estate</a>, <a href="https://musereum.org">Musereum</a>.</p>
            <p>Has contributed his wisdom to make Fondu smart-contract more secure, reliable and human-readable. Agreed to advise on the technical aspect of smart contract constructor as well as general service architecture.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/aler.jpg"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h5>Vlad Sofronov [<a href="https://t.me/vladsofronov">TG</a>, <a href="https://www.linkedin.com/in/vladimir-sofronov-42b80a17/">LI</a></a>]</h5>
            <p>Vlad Sofronov is VP for Partner Relations at ICOBox, the world's largest provider of SaaS ICO solutions. For most of his professional career he has been implementing groundbreaking technologies in new fields, including a multi-year stint as a highly sought-after VFX supervisor in the film industry. For the past 5 years Vlad has been actively involved in cryptocurrency trading and mining, and, over the past year, has been deeply engaged in studying and participating in ICOs.</p>
            <p>Because of his thorough understanding of the new technology, he was invited to come onboard at ICOBox, where he now manages relations with all of the ICOBox's global partners, acts as the company's ambassador at public events, and is extremely busy supporting ICOs of the company's strategic clients. Has been a part of <a href="https://amltoken.com/">AML Bitcoin</a>, <a href="https://crowdsale.storiqa.com/">Storiqa</a>, <a href="https://pavocoin.com/">PAVO</a>, <a href="https://cinematix.io/">Cinematix</a>, <a href="https://www.tradelize.com/">Tradelize</a>, <a href="https://modltoken.io/">MODULE</a>, <a href="https://www.goldmint.io/">Goldmint</a>. Having such a wide exprtise in conducting ICO's Vlad is a very valuable advisor at Fondu helping out with deciding on what's important and what's not.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/vlad.jpg"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h5>Andrew Ahachinsky [<a href="https://www.facebook.com/andrew.ahachinsky">FB</a>, <a href="https://www.linkedin.com/in/andrew-ahachinsky/">LI</a>]</h5>
            <p>Longevity specialist and the founder and CEO at <a href="http://eterly.com">Eterly</a>. Andrew has been a driving visionary and business advisor. Having experience with conducting ICO, he shapes the develoment of the product toward the needs of customers instead of forcing it to go for the most hype technologies.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/andrew.jpg"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h5>Yuriy Kashnikov [<a href="https://t.me/YKashnikov">TG</a>]</h5>
            <p>Yuriy is a software engineer at Exyte, Russia. Yuriy works on blockchain and related technologies bridging latest research results with real world applications. Previously he graduated with PhD from University of Versailes, France and worked on HPC problems at Exascale research center, Paris. Participated in the devleopment of <a href="https://github.com/kayuri">Kayuri</a>, <a href="https://dragonking.io">Dragon King</a>, <a href="https://dorado.tech">Dorado</a> and <a href="https://microcar.co.nz">microCAR</a>.</p>
            <p>Together with <a href="https://github.com/ystrot">Yuri Strot</a> they are developing ICO generator and they agreed to share experience and advise Fondu on the technical and visionary problems.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/yuriy.jpg"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h5>Mike Goryunov [<a href="https://t.me/mikegoryunov">TG</a>]</h5>
            <p>Has started his marketing career in 2009 and has been working in business development since 2014. THe latest project he currently works with is <a href="https://3commas.io">3commas</a> — cryptoexchange trading terminal, analytics and trading bots. He is responsible for partners relations and marketing there.</p>
            <p>3commas is one of the leading crypto-trading platforms with over 40 000 users and 13 integrated exchanges. Mike and 3commas team in general will advise Fondu on technical ad business levels: how to drive complete product to the market.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/mike.jpg"></p>
          </div>
        </div>

        <h2>ICO</h2>
        <p>Apparently, this is the reason why most of the text and code above were written. Even though we believe that a project on a such scale can be fueled by the enthusiasm of the contributors, there is also a strong necessity in Fondu on the market at the moment. And it means that we have to act quick — otherwise millions of dollars can be lost to scammers who simply reuse the same smart contract code again and again charging enormously large fees.</p>
        <p>In order to release Fondu faster, we need to hire developers, designers and managers fulltime and by estimate we need around <b>$250,000</b> for the first year of operation. However, the estimate amount of money saved within the first is far exceeding the estimate expenses. If every 10th ICO pledges $1,000 (1/70 of the average smart contract and website budget) to Fondu, this ICO will succeed.</p>
        <p>Terms of the ICO are super simple: you transfer ETH to the ETH address below and get FDU tokens. For every 1 ETH sent you will receive 250 FDU tokens until July 1st, 2019. Then the crowdfunding ICO campaign will be over.</p>
        <p>Fondu ICO tokensale will end on July 1st, 2019. All the funds collected will be converted to USD tight away and will be used to pay developers and contributors to the Fondu repositories. So far we haven't come up with the proper use fot the FDU tokens, however we promise to elaborate it to the Fondu platform in the future. When buying FDU tokens, please, execute extreme caution and make sure you understand that you're just supporting our community and getting FDU tokens in return that might hold no value at all in future.</p>

        <!-- ICO tracker Vue -->
        <div id="ico-tracker">
          <div class="row">
            <div class="col-sm-9">
                <h5>ICO progress (<a href="https://etherscan.io/token/0x176afbcd4cf9fb7c41ecf5ec0267b87f018f12f8">proof</a>):</h5>
                <p>{{ progress }}</p>
                <p>{{ raised }}</p>
                <p>Send Ethereum to the address on the qr code or to this address to buy FDU:</p>
                <h5>0x7a5eb747f7921b057fa081e52597bc2cf0a03c4a</h5>
            </div>
            <div class="col-sm-3">
              <p><img class="img-bordered" src="img/qr.png"></p>
            </div>
          </div>
        </div>

        <h2>Note on open source</h2>
        <p>We intend to make Fondu fully available for free to whoever wants to use it. It's development is done completely for the sake of excellent programmers giving back to the community. Our goal is to make sure that evertybody can start an ICO for any reason just like anybody can create a GitHub repository. Speaking about GitHub, we are completely transparrent and our smart-contract code and any code in general <a href="https://github.com/backmeupplz/fondu">can always be found</a> on GitHub under MIT license — which means do whatever you want with the code — we would only be glad if it helps anyone. Every single line of code we write within Fondu will always be open to public. Thanks!</p>

        <h2>Conclusion</h2>
        <p>We strongly believe that posessing such an incredible amount of experience and having great developers as well as advisors we will be able to launch the release version of the product within 2 months after the crowdsale reaches $50,000 rasied — and first ICO made on our open source free platform will not make anybody wait. The only thing that we need now is funding, aside of the funds and time invested by us personally. We also hope that acting together as a community we can change the way ICO's look like from an extravagant exceptions to the everyday experience to the normal user who is far from IT.</p>
        <p>Thank you a lot in advance and please let us know if you have any questions whatsoever in out public group on Telegram: <a href="https://t.me/project_f">@project_f</a>. Team members try to be online as much as possible to answer any inquiries. You're awesome. Stay this way.</p>
        <p class="top-border">© 2018, Fondu</p>
      </div>
    </div>
  
    <!-- JSZip -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
    <!-- Contract builder -->
    <script src="contract-builder/index.js"></script>
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="profile-constructor.js"></script>
    <script src="contract-constructor.js"></script>
    <script src="ico-tracker.js"></script>
  </body>
</html>
