<!doctype html>
<html lang="en">
  <head>
    <!-- HTML properties -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base target="_blank">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style-ru.css"> 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Web3 -->
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
    <!-- FileSaver.js -->
    <script src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.min.js"></script>
    <!-- Title -->
    <title>Fondu ICO</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
  </head>
  <body>
    <div class="main">
      <div class="corner">
        <div class="corner-trianlge"></div>
      </div>
      <div class="container">
        <h1>Fondu ICO</h1>
        <h6>Интерактивный Вайтпейпер [<a href="https://fondu.io" target="_self">Английский</a>, <a href="https://fondu.io/ru.html" target="_self">Русский</a>]</h6>
        <h6>Автор: <a href="https://t.me/borodutch">Никита Колмогоров</a>, перевод: <a href="https://t.me/Vspeed34">Владимир Децюра</a></h6>

        <h2>Введение</h2>
        <p>Эта статья представляет собой предложение всему опен-сорс и крипто сообществу, направленное на возможность сэкономить миллионы долларов, предоставив новым и недооцененным стартапам ключевые услуги, необходимые для развития. Рынок ICO болен паразитирующими спекулянтами, имитаторами и мошенниками, которые продолжают вводить в заблуждение инвесторов и разработчиков, и мы обязаны это исправить.</p>

        <p>Автоматизация помогает увеличить эффективность предприятий и приложений по всему миру. Так почему рынок ICO должен страдать без нее? Мы предлагаем уникальное решение, которое позволит сообществу создавать и публиковать ICO бесплатно и в полу-автоматическом режиме. С минимальным количеством действий пользователи смогут заполнить свой профиль ICO, настроить смарт-контракт с помощью ряда простых вопросов и начать собирать деньги с готовым маркетинговым вебсайтом кампании.</p>

        <p>Если вы когда-либо проводили или собирались проводить ICO, то вы в курсе, насколько дорого написать простой смарт-контракт: от $10,000 до $75,000, а затраты на сайт-лендинг могут достигать отметки в $30,000 или $70,000. Зачастую, в итоге оказывается так, что деньги потрачены, а заказчики получили слегка измененный смарт-контракт ERC20 токена. Так почему же этот копи-пейст невозможно сделать автоматически?</p>

        <h2>Продукт</h2>
        <p>Наше решение состоит из трех простых модулей: конструктора ICO, хостинга лендинговых страниц ICO и личного кабинета инвестора. Разберём каждый из них подробнее.</p>
        <ul class="article_list">
          <li><b>Конструктор ICO</b> — простая веб-страница с формами для основной информации ICO: имени токена, информации о команде, описании продукта, логотипа, скриншотов, контактов в социальных сетях, юридических данных, вайтпейпера и тому подобных вещей. Конструктор смарт-контрактов является частью этого модуля — заполнив простые формы и ответив на ряд простых вопросов, пользователи сразу получат код смарт-контрактов и возможность одним кликом запустить их в ETH и/или EOS блокчейны.</li>
          <li><b>Лендинг ICO</b> — после создания ICO на конструкторе, пользователи мгновенно получат веб-сайт своего проекта, содержащий всю необходимую информацию для инвесторов: статистика текущего этапа ICO (отображение состояния смарт-контракта в режиме реального времени), адрес контракта и основную информацию. Все сайты будут размещаться на платформе Fondu абсолютно бесплатно.</li>
          <li><b>Личный кабинет инвестора</b> — один из самых сложных и дорогостоящих аспектов реализации любого ICO; этот модуль позволяет потенциальным инвесторам предварительно зарегистрироваться на продажу и пройти процедуру идентификации (KYC). Помимо того, что мы являемся идеальным местом для проведения KYC и вайтлистинга инвесторов, мы намерены зпустить эту часть в рамках первой версии Fondu, так как это позволит значительно сократить расходы, связанные с запуском ICO.</li>
        </ul>  
        <p>Главная цель нашего проекта — это демократизация концепции ICO, чтобы любой мог создать свое ICO и начать собирать деньги по любой причине буквально за 5-10 минут настройки. Будь это что-то хорошее, например, финансирование свадьбы с помощью гостей (вместо того, чтобы получать подарки), или что-то неприятное, например, финансирование сложной медицинской операции для нуждающегося человека. Каждый должен иметь возможность запустить ICO без головной боли и крупных капиталовложений.</p>
        <p>Если вы думаете, насколько же сложно реализовать написанное выше, то вот — взгляните на то, что я написал за 5 минут за чашечкой утреннего кофе:</p>

        <!-- Profile Constructor Vue -->
        <div id="profile-constructor">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm left-bordered">
                <form>
                  <input type="text" class="form-control" placeholder="Название токена" v-model="title">
                  <textarea class="form-control" placeholder="Описание продукта" v-model="description"></textarea>
                  <textarea class="form-control" placeholder="Опиание команды" v-model="team"></textarea>
                  <textarea class="form-control" placeholder="Юридические детали" v-model="legal"></textarea>
                </form>
              </div>
              <div class="col-sm left-bordered">
                <h4>{{ title || titleSample }}</h4>
                <p>{{ description || descriptionSample }}</p>
                <h4>Команда:</h4>
                <p>{{ team || teamSample }}</p>
                <h4>Юридические детали:</h4>
                <p>{{ legal || legalSample }}</p>
              </div>
            </div>
          </div>
        </div>

        <p>Достаточно просто было создать простой веб-сайт с информацией о вашем ICO, не так ли? Возможно, гораздо сложнее будет написать код смарт-контракта? У меня есть еще минут 5, посмотрим, что я смогу сделать за это время:</p>

        <!-- Smart contract Constructor Vue -->
      <div id="contract-constructor">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm left-bordered">
                <form>
                  <small class="form-text">Легко читаемое имя вашего токена, например: "Fondu", "Bitcoin" или "Ethereum":</small>
                  <input type="text" class="form-control bottom-margin" placeholder="Имя" v-model="name">
  
                  <small class="form-text">Символ вашего токена, например: "FDU", "BTC" или "ETH":</small>
                  <input type="text" class="form-control bottom-margin" placeholder="Символ" v-model="symbol">
  
                  <small class="form-text">Количество знаков после запятой, поддерживаемых вашей валютой; например, Ethereum поддерживает 18 знаков после запятой или 0,000000000000000001 ETH:</small>
                  <input type="number" class="form-control bottom-margin" placeholder="Знаки после запятой" v-model="decimals">
  
                  <small class="form-text">Сколько токенов инвестор получит за 1 ETH</small>
                  <input type="number" class="form-control bottom-margin" placeholder="Количество токенов" v-model="rate">
  
                  <small class="form-text">ETH кошелек, который получит собранные средства:</small>
                  <input type="text" class="form-control bottom-margin" placeholder="Адрес кошелька" v-model="wallet">
  
                  <small class="form-text">Ограничена ли продажа токенов по времени или нет:</small>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" v-model="timed">
                      Есть ли ограничение по времени у продажи?
                    </label>
                  </div>
                  <div v-if="timed">
                    <small class="form-text">Дата начала</small>
                    <input type="date" class="form-control bottom-margin" v-model="startDate">
                    <small class="form-text">Дата окончания</small>
                    <input type="date" class="form-control bottom-margin" v-model="endDate">
                  </div>
  
                  <div v-if="timed">
                    <small class="form-text">Должны ли следства удерживаться до конца продажи токенов и вернуться инвесторам, если софткеп не будет достигнут:</small>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" v-model="refundable">
                        Средства инвесторов возвращаемы при недостижении софткепа?
                      </label>
                    </div>
                    <div v-if="refundable">
                      <small class="form-text">Укажите софткеп — сколько токенов должно быть собрано до окончания продажи, чтобы механизм возврата не был запущен</small>
                      <input type="number" class="form-control bottom-margin" placeholder="Софткеп" v-model="goal">
                    </div>
                  </div>
  
                  <div v-if="timed">
                    <small class="form-text">Хотите ли вы, чтобы цена токена увеличивалась со временем — чтобы чем дольше идет продажа, тем дороже были токены:</small>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" v-model="increasingPrice">
                        Должна ли цена токена увеличиваться со временем до окончания продажи?
                      </label>
                    </div>
                    <div v-if="increasingPrice">
                        <small class="form-text">Сколько токенов получат пользователи за 1 ETH в начале продажи</small>
                        <input type="number" placeholder="Начальное количество токенов" class="form-control bottom-margin" v-model="startRate">
                        <small class="form-text">Сколько токенов получат пользователи за 1 ETH в конце продажи</small>
                        <input type="number" placeholder="Конечное количество токенов" class="form-control bottom-margin" v-model="endRate">
                    </div>
                  </div>
  
                  <small class="form-text">Хотите ли вы ограничить количество проданных токенов (хардкеп):</small>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" v-model="capped">
                        Продажа токенов ограничена?
                      </label>
                    </div>
                    <div v-if="capped">
                      <small class="form-text">Сколько токенов вы собираетесь собрать максимум?</small>
                      <input type="number" class="form-control bottom-margin" placeholder="Хардкеп" v-model="cap">
                    </div>
  
                    <small class="form-text">Хотите ли вы принимать ETH только с кошельков из вайтлиста?</small>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" v-model="whitelisted">
                        Продажа токенов только адресам из вайтлиста?
                      </label>
                    </div>
                </form>
              </div>
              <div class="col-sm left-bordered">
                <div class="code">
                  <code><pre>{{code}}</pre></code>
                </div>
                <br>
                <button type="button" class="btn btn-primary" v-on:click="download">Скачать файлы</button>
                <br><br>
                <p>Что дальше?</p>
                <ol>
                  <li>Запустите <code>./deploy.sh</code> в корне папки, получившейся после разархивирования скачанного файла</li>
                  <li>Следуйте иструкциям скрипта-деплоера</li>
                  <li>Наслаждайтесь задеплоеным краудсейлом!</li>
                </ol>
              </div>
            </div>
          </div>
        </div>

        <p>Поздравляем, вы только что написали свой первый смарт контракт! <b>$70 000</b>, говорили они — а вы просто взяли сделали это бесплатно! Скачайте полученный код и следуйте инструкциям по деплою; этот скрипт умеет деплоить смарт-контракты в локальную, тестовую и основную сети Ethereum! Бесплатно и без хлопот! Мошенники-программисты часто просто копируют общий код смарт-контракта с минимальными изменениями: названия токена, ETH-адресов и количества токенов. Настоящих последователей ICO грабят средь бела дня, и мы хотим это остановить.</p>
        <p>Теперь вы более-менее узнали о нашей миссии и нашем проекте: простой конструктор ICO, хостинг лендингов ICO и личный кабинет инвестора. С помощью этих инстурментов запуск ICO займет менее 15 минут, заместо нескольких месяцев, если все делать с нуля. Очевидно, что для достижения такой амбициозной цели нам нужна опытная команда разработчиков и советников. Так кто же стоит за командой Fondu?</p>

        <h2>Команда</h2>
        <div class="row">
          <div class="col-sm-9">
            <h5>Никита Колмогоров [<a href="https://t.me/borodutch">ТГ</a>, <a href="https://fb.me/borodutch">ФБ</a>]</h5>

            <p>Создатель <a href="https://t.me/voicybot">@voicybot</a> (1,500,000 пользователей, <a href="https://github.com/backmeupplz/voicy">исходный код</a>), <a href="https://t.me/banofbot">@banofbot</a> (150,000 чатов, <a href="https://github.com/backmeupplz/banofbot">исходный код</a>), <a href="https://toreador.io">Toreador.io</a> (более $1,000,000 торгового капитала), <a href="https://t.me/golden_borodutch">@golden_borodutch</a> — Телеграм канал с более чем 12,000 подписчиков о криптовалютах, IT и саморазвитии. Один из главных контрибьюторов <a href="https://t.me/arbeit_bot">@arbeit_bot</a> (<a href="https://github.com/arbeitbot">исходный код</a>).</p>

            <p>Научился кодить в возрасте 12 лет, с тех пор принял участие в более чем 35 проектах в качестве разработчика, менеджера, лида и консультанта. В основном, занимается собственными проектами и консультирует стартапы, заинтересованные в запуске MVP (Минимального Рабочего Продукта) путем достижения технологического превосходства на рынке.</p>

            <p>Никита твердо верит в то, что таланты программистов нужно использовать для общего блага и важно не только запускать добротные продукты, но и доносить их пользу до масимального количества людей.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/nikita.jpg"></p>
          </div>
        </div>

        <p><i>Дисклеймер: Единственным человеком, который сейчас работает в Fondu, является Никита Колмогоров. Члены команды ниже являются потенциальными, они согласились участвовать в проекте лишь в случае успешного финансирования. Люди, указанные ниже, не несут ответственности за проект и не отвечают за какие-либо действия, предпринятые Fondu.</i></p>

        <div class="row">
          <div class="col-sm-9">
            <h5>Никита Печенов [<a href="https://t.me/zachot">ТГ</a>]</h5>
            <p>У Никиты более 10 лет опыта коммерческой разработки. Он работал с многими компаниями в качестве подрядчика, начиная от развлекательных мини-приложений и заканчивая арзитектурой крупного бизнес-приложения. Он работал с Amway Сбербанком, Альфабанком, Тинькофф Банком и OneTwoTrip. Сегодня Никита работает в качестве фронтенд инженера, однако он также продолжает развивать свои способности программиста. Консультирует <a href="https://bestrate.org">BestRate</a> и <a href="https://toreador.io">Toreador</a>.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/zachot.jpg"></p>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-9">
            <h5>Артём Чеботарёв [<a href="https://t.me/Derik117">ТГ</a>, <a href="https://vk.com/derik117">ВК</a>]</h5>

            <p>Создатель <a href="https://t.me/VoterBiBot">@VoterBiBot</a>, беттинг-бота для групп и каналов в Телеграме. Артём — фул-стек разработчик, специализирующийся на Python, Django и Vue.js. Он был вовлечен в серию различных IT-проектов в качестве программиста: парсер веб-сайтов электроники, программные решения для <a href="http://neolab.io">Neolab</a>, боты для Телеграма, альтернатива Monitor (<a href="https://medium.com/meduza-how-it-works/introducing-monitor-cms-for-human-corrected-news-aggregator-92d4105c5cf4">как у Медузы</a>).</p>

            <p>2 года назад Артем начал свою карьеру разработчика. С тех пор он влюбился в программирование из-за возможности создавать ориентированные на людей продукты, приносящие пользу, и из-за свободу, которую дает фриланс. Он любит серверную разработку и увлекается биг-дейтой.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/artem.png"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h5>Александр Михайлов [<a href="https://t.me/jet4fire">ТГ</a>]</h5>

            <p>Целеустремленный фул-стек разработчик с опытом более 7 лет. Всегда стремится работать в командах с увлекательными людьми и участвовать в проектах, ориентированных на социальную сферу. Александру нравится изучать новые языки программирования и техники разработки.</p>

            <p>Большую часть своей карьеры он провел, получая все новые и новые навыки. Например, он получил большой опыт работы со стеком MEAN, Ruby, TypeScript и различными базами данных. Также, он участвовал в разработке <a href="https://adcash.com">adcash</a>, <a href="http://tacticrealtime.com/">Tactic</a>, и <a href="http://motiva.ee/">motiva</a>.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/alexandr.jpg"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h5>Артем Бирюков [<a href="https://t.me/impowski">ТГ</a>]</h5>
            <p>Артем начал карьеру разработчика в 6 классе с Pascal и с тех пор перешел на более серьезные языки и задачи, такие как решение проблем бизнеса и создание ценных продуктов для различных рынков. Fondu привлек его, как увлекательная идея с ее потенциалом для решения множества отраслевых проблем и как метод получения практического опыта работы с блокчейном.</p>

            <p>Артем внес свой вклад в опен-сорс репозитории Mozilla, <a href="https://github.com/rust-lang-nursery/rust-bindgen">rust-bindgen</a>, <a href="https://github.com/servo/servo">servo</a> и <a href="https://github.com/SergioBenitez/Rocket">Rocket</a>. Он имеет опыт работы с Node.js, JavaScript (Vue, React), Python, Rust, Go, а также с различными базами данных, Docker и GraphQL.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/artem.jpg"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h5>Алексей Какоткин [<a href="https://t.me/a_alexei_0">ТГ</a>]</h5>
            <p>Алексей начал разрабатывать программное обеспечение в старшей школе и занимается коммерческой разработкой в течение последних 3 лет. Он начал программировать ради получения новых знаний. Алексей хочет участвовать в Fondu, чтобы начать свое блокчейн-портфолио.</p>

            <p>Алексей работает над различными проектами в качестве хобби, а <a href="https://gitlab.com/Apyr/diary">самый последний</a> из них — это личная платформа для ведения блогов. На данный момент его главный технический стек — это React, Python, Java, C #, Go, что видео из его профиля на <a href="https://gitlab.com/Apyr">GitLab</a>.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/alex.jpg"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h5>Рауф Салихов [<a href="https://t.me/avrdude">ТГ</a>]</h5>
            <p>Рауф начал карьеру разрабточика 2 года назад в рамках небольшого независимого проекта. С тех пор он стал программистом и использует более совершенные и сложные технологии, включая стек MEAN и Vue.</p>

            <p>К сожалению, в Интернете нет никаких следов его предыдущих проектов, но он имеет значительный опыт в разработке приложений для различных предприятий, таких как агентства недвижимости, автосалоны и дистрибьюторы косметических продуктов. С появлением Swift начал практиковать iOS разработку.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/rauf.jpg"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h5>Михаил Ерохов [<a href="https://t.me/wsmichel">ТГ</a>]</h5>

            <p>Фронт-енд разработчик, который начал свою карьеру в 2014 году. Михаил участвовал в уже закрытом проекте Controlio. В настоящее время он работает в <a href="https://bbdogroup.ru/">BBDO</a>. Fondu заинтересовал его, как возможность внести свой вклад в сообщество и расширить свое присутствие в опен-сорс среде.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/michel.jpg"></p>
          </div>
        </div>

        <h2>Советники</h2>
        <p><i>Дисклеймер: единственная роль советников в Fondu — это консультация команды разработчиков. Они делают это абсолютно бесплатно, pro bono. Они не несут никаких рисков, связанных с действиями Fondu. Единственные люди, которые отвечают за Fondu — это текущая команда разработчиков. Хотя все перечисленные советники и согласились участвовать в проекте после успешного финансирования, не все из них консультируют проект сейчас.</i></p>

        <div class="row">
          <div class="col-sm-9">
            <h5>Макс Фролов [<a href="https://t.me/maffa">ТГ</a>, <a href="https://www.linkedin.com/in/maksimfrolov/">ЛИ</a>]</h5>

            <p>Консультант проекта по теме видения, ICO и юридической части. Макс управлял проектами в группе компаний, которая разрабатывает приложения для российского фондового рынка. Он участвовал в листинге иностранных ценных бумаг на Санкт-Петербургской Бирже, внерыночных биржах и ETF-клининге. Он был частью первоначального запуска первого в российской юрисдикции криптообменника, который сейчас юридически находится в Швейцарии.</p>

            <p>Макс отвечал за бизнес-архитектуру решений, планирование запуска продуктов и коммуникацию с брокерами в <a href="https://spbexchange.ru">Санкт-Петербургской Бирже</a>, <a href="https://nprts.ru">НПРТС</a> и <a href="https://voskhod.io">«Восходе»</a>.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/max.jpg"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h5>Алер Денисов [<a href="https://t.me/alerdenisov">ТГ</a>]</h5>

            <p>Блокчейн энтузиаст и технический советник в Fondu. Алер имеет большой опыт разработки различных проектов. Он является основателем девшопа <a href="https://vibrance.ru">Vibrance</a>, который написал и запустил приложения для нескольких брендов высокого класса. Недавно он участвовал в разработке <a href="https://tokenstars.com/ru/ace">Ace Token</a>, <a href="https://tokenstars.com/ru/team">Team Token</a>, <a href="https://alt.estate">Alt Estate</a>, и <a href="https://musereum.org">Musereum</a>.</p>

            <p>Алер внес свой вклад в надежность и удобочитаемость смарт-контрактов Fondu. Он согласился стать советником по техническим аспектам конструктора смарт-контрактов, а также по общей архитектуре сервиса.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/aler.jpg"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h5>Влад Софронов [<a href="https://t.me/vladsofronov">ТГ</a>, <a href="https://www.linkedin.com/in/vladimir-sofronov-42b80a17/">ЛИ</a>]</h5>

            <p>Влад Софронов является вице-президентом по связям с партнерами ICOBox, крупнейшего в мире поставщика решений для ICO. На протяжении большей части своей профессиональной карьеры он внедрял новаторские технологии в новых областях, много лет был высокопоставленным руководителя VFX в киноиндустрии. В течение последних 5 лет Влад активно участвовал в торговле криптовалютами и майнинге, а за последний год был глубоко вовлечен в изучение и участие в ICO.</p>

            <p>Из-за его глубокого понимания инновационных технологий его пригласили присоединиться к ICOBox, где он управляет связями с партнерами ICOBox, выступает в качестве посла компании на публичных мероприятиях и чрезвычайно активно поддерживает ICO компании стратегических клиентов. Он также принимал участие в <a href="https://amltoken.com/">AML Биткойн</a>, <a href="https://crowdsale.storiqa.com/">Storiqa</a>, <a href="https://pavocoin.com/">PAVO</a>, <a href="https://cinematix.io/">Cinematix</a>, <a href="https://www.tradelize.com/">Tradelize</a>, <a href="https://modltoken.io/">MODULE</a>, <a href="https://www.goldmint.io/">Goldmint</a>. Обладая таким обширным опытом в проведении ICO, Влад является очень ценным консультантом в Fondu, указывая, что именно важно для проектов, проводящих ICO.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/vlad.jpg"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h5>Андрей Ахачинский [<a href="https://www.facebook.com/andrew.ahachinsky">FB</a>, <a href="https://www.linkedin.com/in/andrew-ahachinsky/">LI</a>]</h5>

            <p>Специалист по долгосрочной поддержке, основатель и главный исполнительный директор <a href="http://eterly.com">Eterly</a>, Андрей был ведущим визионером и бизнес-консультантом. Имея опыт проведения ICO, он формирует разработку своих продуктов в соответствии с потребностями клиентов, вместо того чтобы следовать за хайпом.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/andrew.jpg"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h5>Юрий Кашников [<a href="https://t.me/YKashnikov">TG</a>]</h5>
            <p>Юрий — инженер-программист в Exyte. Юрий работает с блокчейном и со связанными с ним технологиями, соединяя последние результаты исследований с практической реализацией приложений. Ранее окончил Университет Версаля во Франции, и работал над проблемами HPC в исследовательском центре Exascale в Париже. Он участвовал в разработке <a href="https://github.com/kayuri">Kayuri</a>, <a href="https://dragonking.io">Dragon King</a>, <a href="https://dorado.tech">Dorado</a> и <a href="https://microcar.co.nz">microCAR</a>.</p>

            <p>Вместе с <a href="https://github.com/ystrot">Юрием Штротом</a> он разрабатывает генератор ICO, и они согласились поделиться своим опытом, помагая решить технические вопросы в качестве консультантов для Fondu.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/yuriy.jpg"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h5>Майк Горюнов [<a href="https://t.me/mikegoryunov">TG</a>]</h5>
            <p>Майк начал свою карьеру в сфере маркетинга в 2009 году и работает в сфере развития бизнеса с 2014 года. Самый актуальный проект, с которым работает Майк — <a href="https://3commas.io">3commas</a>, торговый терминал для криптообмена, аналитик и торговых ботов. Он отвечает за партнерские отношения и маркетинг.</p>

            <p>3commas — одна из ведущих криптоторговых платформ с более чем 40 000 пользователей и 13 интегрированными обменниками. Майк и команда 3commas будут консультировать Fondu на техническом и бизнес уровнях, в частности о том, как вывести на рынок готовый продукт.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/mike.jpg"></p>
          </div>
        </div>

        <h2>ICO</h2>
        <p>Несмотря на наше желание запустить Fondu самостоятельно, у нас есть острая необходимость привлечь сторонних инвесторов. Нам нужно действовать быстро, иначе сообщество рискует потерять миллионы долларов из-за мошенников, которые продолжают переиспользовать один и тот же код смарт-контракта снова и снова, при этом заламывая гигантские необосонованные цены.</p>
        
        <p>Чтобы запустить Fondu как можно быстрее, нам нужно нанять разработчиков, дизайнеров и менеджеров на полный рабочий день. Мы предполагаем, что первый год работы Fondu нам обойдется в примерно $250,000. Однако предполагаемая сумма, сэкономленная в случае успешного запуска Fondu, должна превышать расходы на разработку в разы. Если каждый десятый ICO проект купит FDU на $1000 (1/70 от средней цены смарт-контракта и бюджета вебсайта), то краудфандинг будет успешным.</p>

        <p>Условия ICO просты: все, что нужно сделать — это перевести ETH на адрес ниже, чтобы получить токены FDU взамен. За каждый 1 отправленный ETH вы получите 250 токенов FDU до 1 июля 2019 года. Затем краудфандинговая компания ICO завершится.</p>

        <p>Выпуск токенов Fondu ICO завершится 1 июля 2019 года. Все поступления будут конвертированы в доллары США и будут использованы для оплаты разработчикам и контрибьюторам в репозитории Fondu сразу же. Роль токенов FDU еще предстоит полностью определить, однако мы обещаем представить ee в ближайшем будущем. При покупке токенов FDU убедитесь, что вы понимаете, что, покупая токены FDU, вы поддерживаете наше сообщество и получаете взамен активы, которые в будущем могут не иметь никакой ценности.</p>

        <!-- ICO tracker Vue -->
        <div id="ico-tracker">
          <div class="row">
            <div class="col-sm-9">
                <h5>Прогресс ICO (<a href="https://etherscan.io/token/0x176afbcd4cf9fb7c41ecf5ec0267b87f018f12f8">доказательство</a>):</h5>
                <p>{{ progress }}</p>
                <p>{{ raised }}</p>
                <p>Отправьте Ethereum на следующий адрес, чтобы купить FDU:</p>
                <h5>0x7a5eb747f7921b057fa081e52597bc2cf0a03c4a</h5>
            </div>
            <div class="col-sm-3">
              <p><img class="img-bordered" src="img/qr.png"></p>
            </div>
          </div>
        </div>

        <h2>Примечание про открытый исходный код</h2>
        <p>Мы намерены сделать Fondu бесплатным и полностью доступным для всех. Наша цель — это дать отличным разработчикам шанс помочь опен-сорс сообществу. Мы хотим дать возможность кому угодно начать собственное ICO для абсолютно любых целей, так же как любой может создать репозиторий на GitHub. Относително GitHub — мы полностью прозрачны, и наш код смарт-контракта, да и любой код далее, всегда можно будет найти на <a href="https://github.com/backmeupplz/fondu">GitHub</a> под лицензией MIT; то есть наш код может использовать кто угодно и как угодно. Как разработчики, мы можем только надеяться, что наш проект принесет пользу тем, кто в этом нуждается, поскольку мы стремимся расширить возможности и демократизировать процесс ICO для всех. Каждая строчка кода, которую мы пишем в Fondu, всегда будет открыта для публики. Спасибо!</p>

        <h2>Заключение</h2>
        <p>Мы твердо убеждены в том, что, обладая таким невероятным опытом и знаниями, мы сможем запустить первую версию продукта в течение 2 месяцев после того, как продажа токенов достигнет первоначальной цели в размере $50,000. Первое ICO, сделанное на нашей бесплатной платформе с открытым исходным кодом, не заставит сообщество ждать. Единственным ограничением на данный момент является финансирование. Мы также надеемся, что, действуя совместно как сообщество, мы сможем изменить то, как ICO воспринимаются широкой общественностью, демократизировать криптовалюты. Только благодаря этой инициативе возможно быстрое внедрение криптовалют и блокчейна в массы.</p>

        <p>Команда разработчиков Fondu хотела бы поблагодарить вас заранее, и, пожалуйста, сообщите нам, если у вас есть вопросы, связавшись с нами в нашей группе Telegram: <a href="https://t.me/project_f">@project_f</a>. Члены команды онлайн как можно чаще, для того чтобы ответить на все вопросы. Вы великолепны — оставайтесь такими же!</p>
        <p class="top-border">© 2018, Fondu</p>
      </div>
    </div>
  
    <!-- JSZip -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
    <!-- Contract builder -->
    <script src="contract-builder/index.js"></script>
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="profile-constructor-ru.js"></script>
    <script src="contract-constructor.js"></script>
    <script src="ico-tracker-ru.js"></script>
  </body>
</html>
