<!doctype html>
<html lang="en">
  <head>
    <!-- HTML properties -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base target="_blank">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css"> 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Web3 -->
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
    <!-- FileSaver.js -->
    <script src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.min.js"></script>
    <!-- Title -->
    <title>Fondu ICO</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
  </head>
  <body>
    <div class="main">
      <div class="corner">
        <div class="corner-trianlge"></div>
      </div>
      <div class="container">
        <h1>Fondu ICO</h1>
        <h6>Интерактивный Вайтпейпер [<a href="https://fondu.io" target="_self">Английский</a>, <a href="https://fondu.io/ru.html" target="_self">Русский</a>]</h6>
        <h6>Автор: <a href="https://t.me/borodutch">Никита Колмогоров</a>, перевод: <a href="https://t.me/Vspeed34">Владимир Децюра</a></h6>

        <h2>Введение</h2>
        <p>Эта статья представляет собой предложение всему опен-сорс и крипто сообществу, направленное на возможность сэкономить миллионы долларов, предоставив новым и недооцененным стартапам ключевые услуги, необходимые для развития. Рынок ICO болен паразитирующими спекулянтами, имитаторами и мошенниками, которые продолжают вводить в заблуждение инвесторов и разработчиков, и мы обязаны это исправить.</p>

        <p>Как известно, автоматизация помогает увеличить эффективность предприятий и приложений по всему миру. Почему рынок ICO должен отличаться? Мы предлагаем уникальное решение этой проблемы, позволяя нашему сообществу создавать полуавтоматические сервисы с открытым кодом для создания и управления всеми видами ICO. С минимальным количеством действий пользователи смогут заполнить свой профиль ICO, настроить смарт-контракт с помощью ряда простых вопросов и начать собирать деньги на веб-сайте, готовом для рынка.</p>

        <p>Если вы когда-либо проводили ICO, вы знаете, насколько написание интеллектуального контракта может быть дорогостоящим, от 10 000 до 75 000 долларов США, а затраты на маркетинг могут достигать 30 000 долларов США до 70 000 долларов. Зачастую разработчики находят, что, потратив все свои деньги, у них остается только общий веб-сайт и слегка измененный смарт-договор ERC20. Таким образом, возникает вопрос: почему это невозможно сделать автоматически?</p>

        <h2>Продукт</h2>
        <p>Решение, которое мы предлагаем, состоит из трех простых модулей: конструктора ICO, лендинговой страницы ICO и персонального профиля инвестора. Разберём каждый из них более подробно.</p>
        <ul class="article_list">
          <li><b>Конструктор ICO</b> — простая веб-страница с формами, заполняемыми важной информацией ICO, такими как имя маркера, сведения о команде, описание продукта, логотип, скриншоты, контакты в социальной сети, юридические данные, технический документ и т. Д. Smart-contract конструктор является частью этого модуля, позволяя вам заполнять простые формы, отвечать на ряд вопросов с несколькими вариантами ответов и немедленно заключать смарт-контракт, который был развернут в блок-цепочку ETH и / или EOS.</li>
          <li><b>Лендинг ICO</b> — после создания ICO вы получите персональную страницу профиля, которая будет служить главной страницей ICO для ознакомления и содержит всю необходимую информацию для инвесторов, включая живой прогресс ICO (отображение состояния смарт-контракта в режиме реального времени) , важные этапы и адрес контракта. Все размещено на платформе Fondu и имеет нулевые затраты, связанные с его содержанием.</li>
          <li><b>Личный кабинет инвестора</b> — один из самых сложных и дорогостоящих аспектов работы любого ICO, этот модуль позволяет потенциальным инвесторам предварительно зарегистрироваться для продажи и пройти процедуру KYC/AML. Помимо того, что мы являемся идеальным инструментом для обеспечения функциональности KYC и вайтлистинга для проведения ICO, мы намерены сделать этот модуль частью первоначального запуска, так как это позволит значительно сократить расходы, связанные с запуском ICO, в то же время улучшив общий пользовательский опыт инвестора.</li>
        </ul>  
        <p>Главная цель нашего проекта - демократизировать концепцию ICO для всех, позволяя любому теоретически получать доступ к смарт контрактам для проведения любого типа массового финансирования. Является ли это чем-то позитивным, например, финансируя свадьбу с помощью гостей (вместо того, чтобы покупать подарки), или, скорее, неприятным, например, финансируя сложную медицинскую операцию для нуждающегося, каждый должен иметь возможность запускать ICO без головной боли и крупных капиталовложений.</p>
        <p>Если вам интересно, как сложно построить то, что мы только что описали, посмотрите, что я написал за 5 минут, попивая свой утренний кофе:</p>

        <!-- Profile Constructor Vue -->
        <div id="profile-constructor">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm left-bordered">
                <form>
                  <input type="text" class="form-control" placeholder="Введите название" v-model="title">
                  <textarea class="form-control" placeholder="Введите описание продукта" v-model="description"></textarea>
                  <textarea class="form-control" placeholder="Введите опиание команды" v-model="team"></textarea>
                  <textarea class="form-control" placeholder="Введите описание юридической части" v-model="legal"></textarea>
                </form>
              </div>
              <div class="col-sm left-bordered">
                <h4>{{ title || titleSample }}</h4>
                <p>{{ description || descriptionSample }}</p>
                <h4>Команда:</h4>
                <p>{{ team || teamSample }}</p>
                <h4>Юридическая часть:</h4>
                <p>{{ legal || legalSample }}</p>
              </div>
            </div>
          </div>
        </div>

        <p>Не сложно было настроить свой первый профиль ICO, не так ли? Возможно, будет сложнее создать конструктор смарт контракта.</p>

        <!-- Smart contract Constructor Vue -->
      <div id="contract-constructor">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm left-bordered">
                <form>
                  <small class="form-text">Легко читаемое имя вашего токена, такого как «Fondu», «Биткойн» или «Эфириум»:</small>
                  <input type="text" class="form-control bottom-margin" placeholder="Имя" v-model="name">
  
                  <small class="form-text">Символ вашего токена, такого как «FDU», «BTC» или «ETH»:</small>
                  <input type="text" class="form-control bottom-margin" placeholder="Символ" v-model="symbol">
  
                  <small class="form-text">Количество десятичных знаков, поддерживаемых вашей валютой; например, Ethereum может достигать 18 десятичных знаков или 0,000000000000000001 ETH:</small>
                  <input type="number" class="form-control bottom-margin" placeholder="Десятичные" v-model="decimals">
  
                  <small class="form-text">Сколько ваших токенов вы получите за 1 ETH</small>
                  <input type="number" class="form-control bottom-margin" placeholder="Цена" v-model="rate">
  
                  <small class="form-text">ETH кошелек, который получит собранные средства:</small>
                  <input type="text" class="form-control bottom-margin" placeholder="Адрес кошелька" v-model="wallet">
  
                  <small class="form-text">Ограничен ли ваш краудсэйл временным периодом или нет:</small>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" v-model="timed">
                      Есть ли ограничение по времени?
                    </label>
                  </div>
                  <div v-if="timed">
                    <small class="form-text">Дата начала</small>
                    <input type="date" class="form-control bottom-margin" v-model="startDate">
                    <small class="form-text">Дата окончания</small>
                    <input type="date" class="form-control bottom-margin" v-model="endDate">
                  </div>
  
                  <div v-if="timed">
                    <small class="form-text">Должны ли следства удерживаться до конца продажи токенов и вернуться инвесторам, если софткеп не будет достигнут:</small>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" v-model="refundable">
                        Продажа токенов возвращаемая?
                      </label>
                    </div>
                    <div v-if="refundable">
                      <small class="form-text">Укажите софткеп — сколько токенов должно быть собрано до окончания продажи, чтобы механизм возврата не был запущен</small>
                      <input type="number" class="form-control bottom-margin" placeholder="Софткеп" v-model="goal">
                    </div>
                  </div>
  
                  <div v-if="timed">
                    <small class="form-text">Хотите ли вы, чтобы цена токена увеличивалась со временем — чтобы чем дольше идет продажа, тем дороже были токены?</small>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" v-model="increasingPrice">
                        Должна ли цена токена увеличиваться со временем до окончания продажи?
                      </label>
                    </div>
                    <div v-if="increasingPrice">
                        <small class="form-text">Сколько токенов получат пользователи за 1 ETH в начале продажи</small>
                        <input type="number" placeholder="Начальная цена" class="form-control bottom-margin" v-model="startRate">
                        <small class="form-text">Сколько токенов получат пользователи за 1 ETH в конце продажи</small>
                        <input type="number" placeholder="Конечная цена" class="form-control bottom-margin" v-model="endRate">
                    </div>
                  </div>
  
                  <small class="form-text">Хотите ли вы ограничить количество проданных токенов (хардкеп):</small>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" v-model="capped">
                        Продажа токенов ограничена?
                      </label>
                    </div>
                    <div v-if="capped">
                      <small class="form-text">Сколько токенов вы собираетесь собрать максимум?</small>
                      <input type="number" class="form-control bottom-margin" placeholder="Хардкеп" v-model="cap">
                    </div>
  
                    <small class="form-text">Хотите ли вы принимать ETH только с кошельков из вайтлиста?</small>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" v-model="whitelisted">
                        Продажа токенов только адресам из вайтлиста?
                      </label>
                    </div>
                </form>
              </div>
              <div class="col-sm left-bordered">
                <div class="code">
                  <code><pre>{{code}}</pre></code>
                </div>
                <br>
                <button type="button" class="btn btn-primary" v-on:click="download">Скачать файлы</button>
                <br><br>
                <p>Что дальше?</p>
                <ol>
                  <li>Запустите <code>./deploy.sh</code> в корне папки, получившейся после разархивирования скачанного файла</li>
                  <li>Следуйте иструкциям деплоера</li>
                  <li>Наслаждайтесь задеплоеным краудсейлом!</li>
                </ol>
              </div>
            </div>
          </div>
        </div>

        <p>Поздравляем, вы только что написали свой первый смарт контракт! <b>$70 000</b> они говорят - и вы просто сделали это бесплатно! Загрузите полученный код и следуйте инструкциям по развертыванию, наш продукт полностью способен развертывать смарт контракты в локальных, тестовых и основных сетях Ethereum! Бесплатно и без хлопот! Наихудшие мошенники среди “авторов смарт контрактов” ICO копируют \ вставляют общий код с минимальным изменением имени жетона, ETH-адресов и количества токенов. Настоящих визионеров ICO грабят средь бела дня, и мы хотим помочь остановить его.</p>
        <p>Теперь вы узнали о нашей миссии и нашем проекте: Простой конструктор ICO, лендинг ICO и личный профиль инвестора. С помощью этих инстурментов запуск ICO не займет более 15 минут процесса настройки. Очевидно, что для достижения такой амбициозной цели нам нужна опытная команда разработчиков и разработчиков. Так кто же стоит за командой Fondu?</p>

        <h2>Команда</h2>
        <div class="row">
          <div class="col-sm-9">
            <h5>Никита Колмогоров [<a href="https://t.me/borodutch">TG</a>, <a href="https://fb.me/borodutch">FB</a>]</h5>

            <p>Создатель <a href="https://t.me/voicybot">@voicybot</a> (1,500,000 пользователей, <a href="https://github.com/backmeupplz/voicy">открытый код</a>), <a href="https://t.me/banofbot">@banofbot</a> (150,000 чатов, <a href="https://github.com/backmeupplz/banofbot">открытый код</a>), <a href="https://toreador.io">Toreador.io</a> (более $1,000,000 трейдингового капитала), <a href="https://t.me/golden_borodutch">@golden_borodutch</a> — Телеграм канал с более чем 12,000 подписчиков о криптовалютах, IT и саморазвитии. Один из главных разработчиков <a href="https://t.me/arbeit_bot">@arbeit_bot</a> (<a href="https://github.com/arbeitbot">открытый код</a>).</p>

            <p>Научился кодить в возрасте 12 лет, с тех пор участвовал в более чем 35 проектах в качестве разработчика,IT энтузиаста, менеджера, лидера и консультанта. Сегодня его основное внимание уделяется его личным проектам и консалтинговым стартапам, заинтересованным в запуске MVP(Minimal Viable Products) путем установления технического превосходства продукта перед конкурентами.</p>

            <p>Никита твердо верит в то, что таланты в области кодинга можно использовать для большего блага и что награда приходит не только от создания качественных продуктов, но и после того, как его работа успешно создает ценность для наибольшего количества людей.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/nikita.jpg"></p>
          </div>
        </div>

        <p><i>Дисклеймер: Единственным человеком, который сейчас работает в Fondu, является Никита Колмогоров. Следующие члены команды являются потенциальными, согласившись участвовать в проекте только в случае успешного финансирования. Следующие люди не несут ответственности за проект и не могут нести ответственность за любые действия, предпринятые Fondu.</i></p>

        <div class="row">
          <div class="col-sm-9">
            <h5>Никита Печенов [<a href="https://t.me/zachot">TG</a>]</h5>
            <p>У Никиты более 10 лет опыта коммерческого развития. Он работал с многочисленными компаниями в качестве подрядчика для проектов, начиная от развлекательных мини-приложений и заканчивая крупной бизнес-архитектурой. Он работал с Amway, Сбербанком, Альфабанком, Тинькоффом и OneTwoTrip. В настоящее время Никита работает в качестве фронтенд инженера, однако он также продолжает поддерживать свои способности к развитию. В настоящий момент он является консультантом <a href="https://bestrate.org">BestRate</a> и <a href="https://toreador.io">Toreador</a>.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/zachot.jpg"></p>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-9">
            <h5>Артём Чеботарёв [<a href="https://t.me/Derik117">TG</a>, <a href="https://vk.com/derik117">VK</a>]</h5>

            <p>Создатель <a href="https://t.me/VoterBiBot">@VoterBiBot</a>, беттинг-бот для групп и каналов Telegram. Артём - фул-стек разработчик, специализирующийся на Python, Django и Vue.js. Он был вовлечен в серию различных ИТ-проектов в качестве кодера: начиная с парсера веб-сайтов электроники, разрабатывая программные решения для <a href="http://neolab.io">Neolab</a>, создавая боты Telegram, ориентированные на события, и, наконец, создавая альтернативу Monitor (<a href="https://medium.com/meduza-how-it-works/introducing-monitor-cms-for-human-corrected-news-aggregator-92d4105c5cf4">любезность Meduza</a>).</p>

            <p>2 года назад Артем начал свою карьеру разработчика. Он с тех пор влюбился в программирование из-за возможности создавать ценные ориентированные на людей продукты и за свободу, которую дает работа фрилансером. Он любит бек-енд разработку и увлекается биг дата разработкой.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/artem.png"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h5>Александр Михайлов [<a href="https://t.me/jet4fire">TG</a>]</h5>

            <p>Целеустремленный фул-стек разработчик с опытом разработки более 7 лет. Он всегда стремится работать над интересными проектами с увлекательными людьми и стремится участвовать в проектах, ориентированных на социальную сферу. Александру нравится изучать новые языки и техники программирования.</p>

            <p>Он провел большую часть своей карьеры овладевая новыми навыками. Например, он имеет большой опыт работы со стеком MEAN, Ruby, TypeScript и различными базами данных. Наконец, он участвовал в разработке <a href="https://adcash.com">adcash</a>, <a href="http://tacticrealtime.com/">Tactic</a>, <a href="http://motiva.ee/">motiva</a>.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/alexandr.jpg"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h5>Артем Бирюков [<a href="https://t.me/impowski">TG</a>]</h5>
            <p>Артем начал карьеру своего разработчика в 6-м классе с Pascal и с тех пор перешел на более серьезные задачи программирования, такие как решение проблем для бизнеса и создание ценных продуктов для различных рынков. Fondu привлек его как увлекательная идея с ее потенциалом для решения множества отраслевых проблем и как метод получения практического опыта работы с блокчейном.</p>

            <p>Артем внес свой вклад в опен-соурс репозитории Mozilla, <a href="https://github.com/rust-lang-nursery/rust-bindgen">rust-bindgen</a>, <a href="https://github.com/servo/servo">servo</a> и <a href="https://github.com/SergioBenitez/Rocket">Rocket</a>. Он имеет опыт работы с Node.js, JavaScript (Vue, React), Python, Rust, Go, а также различными базами данных, такими как Docker и GraphQL.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/artem.jpg"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h5>Алексей Какоткин [<a href="https://t.me/a_alexei_0">TG</a>]</h5>
            <p>Алексей начал разрабатывать программное обеспечение в старшей школе и занимается коммерческим развитием в течение последних 3 лет. Он начал программировать как способ увеличить свои знания и бросить вызов своему мозгу. Алексей хочет участвовать в Fondu, чтобы построить свое портфолио блокчейнов.</p>

            <p>Алексей работает над различными проектами как хобби, а <a href="https://gitlab.com/Apyr/diary">самая последняя</a> из них - личная платформа для ведения блогов. На данный момент его главный технический стек - это React, Python, Java, C #, Go - как представлено его профилем <a href="https://gitlab.com/Apyr">GitLab</a>.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/alex.jpg"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h5>Рауф Салихов [<a href="https://t.me/avrdude">TG</a>]</h5>
            <p>Рауф начал разработку 2 года назад в рамках небольшого независимого проекта. С тех пор он стал программистом и использует более совершенные и сложные технологии, включая стек MEAN и Vue.</p>

            <p>К сожалению, в то время как в Интернете нет никаких следов его предыдущих проектов, он имеет значительный опыт в разработке сетей для различных предприятий, таких как агентства недвижимости, автосалоны и дистрибьюторы косметических продуктов. Он также начал изучать мобильные разработки, начиная с Swift.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/rauf.jpg"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h5>Михаил Ерохов [<a href="https://t.me/wsmichel">TG</a>]</h5>

            <p>Фронт-енд разработчик, который начал свою карьеру в 2014 году, Михаил участвовал в закрытом сейчас проекте Controlio. В настоящее время он работает в <a href="https://bbdogroup.ru/">BBDO</a>. Fondu заинтересовал его как возможность внести свой вклад в сообщество и расширить свое присутствие в опен соурс сообществе.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/michel.jpg"></p>
          </div>
        </div>

        <h2>Советники</h2>
        <p><i>Дисклеймер: единственная роль консультантов в Fondu это консультация команды разработчиков. Они делают это полностью pro bono. Никакой риск не должен ассоциироваться с ними, и они не должны нести ответственность за действия компании. Единственные люди, которые отвечают за Fondu, - это настоящая команда разработчиков. Хотя все перечисленные советники согласились участвовать в проекте после успешного финансирования, не все из них в настоящее время консультируют проект.</i></p>

        <div class="row">
          <div class="col-sm-9">
            <h5>Макс Фролов [<a href="https://t.me/maffa">TG</a>, <a href="https://www.linkedin.com/in/maksimfrolov/">LI</a>]</h5>

            <p>Визионер, ICO и юридический консультант Макс управлял проектами в группе компаний, которая разрабатывает приложения для российского фондового рынка. Он участвовал в листинге иностранных ценных бумаг на Санкт-Петербургской бирже, внерыночных биржах и очистке ETF. Он был частью первоначального запуска криптообменника, первого в российской юрисдикции, но который сейчас находится в Швейцарии.</p>

            <p>Макс отвечал за бизнес-архитектуру решений и планирование выпуска продуктов а также за коммуникацию брокеров на <a href="https://spbexchange.ru">SPB Exchange</a>, <a href="https://nprts.ru">NPRTS</a> и <a href="https://voskhod.io">«Восход»</a>.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/max.jpg"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h5>Алер Денисов [<a href="https://t.me/alerdenisov">TG</a>]</h5>

            <p>Блокчейн энтузиаст и технический советник в Fondu, Алер имеет большой опыт разработки различных проектов. Он является основателем девшопа <a href="https://vibrance.ru">Vibrance</a>, который разработал приложения для нескольких брендов высокого класса. Недавно он участвовал в разработке <a href="https://tokenstars.com/ru/ace">Ace Token</a>, <a href="https://tokenstars.com/ru/team">Team Token</a>, <a href="https://alt.estate">Alt Estate</a>, <a href="https://musereum.org">Musereum</a>.</p>

            <p>Алер внес свой вклад в создание более надежных, надежных и удобочитаемых смарт контрактов Fondu. Наконец, он согласился дать совет по техническому аспекту конструктора смарт контрактов, а также по общей архитектуре обслуживания.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/aler.jpg"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h5>Влад Софронов [<a href="https://t.me/vladsofronov">TG</a>, <a href="https://www.linkedin.com/in/vladimir-sofronov-42b80a17/">LI</a>]</h5>

            <p>Влад Софронов является вице-президентом по связям с партнерами ICOBox, крупнейшим в мире поставщиком решений ICO SaaS. На протяжении большей части своей профессиональной карьеры он внедрял новаторские технологии в новых областях, в том числе многолетнее пребывание в качестве высокопоставленного руководителя VFX в киноиндустрии. В течение последних 5 лет Влад активно участвовал в торговле криптовалютами и майнинге, а за последний год был глубоко вовлечен в изучение и участие в ICO.</p>

            <p>Из-за его глубокого понимания новой технологии его пригласили присоединиться к ICOBox, где он теперь управляет отношениями со всеми глобальными партнерами ICOBox, выступает в качестве посла компании на публичных мероприятиях и чрезвычайно активно поддерживает ICO компании стратегических клиентов. Он также был частью <a href="https://amltoken.com/">AML Биткойн</a>, <a href="https://crowdsale.storiqa.com/">Storiqa</a>, <a href="https://pavocoin.com/">PAVO</a>, <a href="https://cinematix.io/">Cinematix</a>, <a href="https://www.tradelize.com/">Tradelize</a>, <a href="https://modltoken.io/">MODULE</a>, <a href="https://www.goldmint.io/">Goldmint</a>. Обладая таким большим опытом в проведении ICO, Влад является очень ценным консультантом в Fondu, помогая в процессе планирования и принятия решений.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/vlad.jpg"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h5>Андрей Ахачинский [<a href="https://www.facebook.com/andrew.ahachinsky">FB</a>, <a href="https://www.linkedin.com/in/andrew-ahachinsky/">LI</a>]</h5>

            <p>Специалист по долгосрочной поддержке, основатель и главный исполнительный директор <a href="http://eterly.com">Eterly</a>, Андрей был ведущим визионером и бизнес-консультантом. Имея опыт проведения ICO, он формирует разработку своих продуктов в соответствии с потребностями клиентов, вместо того чтобы следовать за хайпом.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/andrew.jpg"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h5>Юрий Кашников [<a href="https://t.me/YKashnikov">TG</a>]</h5>
            <p>Юрий - инженер-программист в Exyte, Россия. Юрий работает над блокчейном и связанным с ним технологиями, соединяя последние результаты исследований с использованием реальных приложений. Он ранее окончил Университет Версаля во Франции, и работал над проблемами HPC в исследовательском центре Exascale в Париже. Он участвовал в разработке <a href="https://github.com/kayuri">Kayuri</a>, <a href="https://dragonking.io">Dragon King</a>, <a href="https://dorado.tech">Dorado</a> и <a href="https://microcar.co.nz">microCAR</a>.</p>

            <p>Вместе с <a href="https://github.com/ystrot">Юрием Штротом</a> он разрабатывает генератор ICO, и они согласились поделиться своим опытом, решая технические проблемы в качестве консультантов для Fondu.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/yuriy.jpg"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <h5>Майк Горюнов [<a href="https://t.me/mikegoryunov">TG</a>]</h5>
            <p>Майк начал свою карьеру в сфере маркетинга в 2009 году и работает в сфере развития бизнеса с 2014 года. Его последний проект - <a href="https://3commas.io">3commas</a>, торговый терминал для криптообмена, аналитика и торговый бот. Там он отвечает за партнерские отношения и маркетинг.</p>

            <p>3commas - одна из ведущих криптоторговых платформ с более чем 40 000 пользователей и 13 интегрированных обменников. Майк и команда 3commas будут консультировать Fondu на техническом и бизнес-уровнях, в частности о том, как вывести на рынок полный продукт.</p>
          </div>
          <div class="col-sm-3">
            <p><img class="img-bordered" src="img/mike.jpg"></p>
          </div>
        </div>

        <h2>ICO</h2>
        <p>Несмотря на то, что мы желаем, чтобы проект такого масштаба мог подпитываться энтузиазмом самих вкладчиков, для Fondu существует острая необходимость привлекать инвесторов. Мы должны действовать быстро, иначе сообщество рискует потерять миллионы долларов на мошенников, которые продолжают повторно использовать украденный код смарт-контракта снова и снова, при этом взимая огромные сборы.</p>

        <p>Чтобы выпустить Fondu на рынок как можно быстрее, нам нужно нанять разработчиков, дизайнеров и менеджеров на полный рабочий день. Наша лучшая оценка для нашего первого года операций составляет около 250 000 долларов США. Однако предполагаемая сумма денег, сэкономленная в случае выпуска решения должна превышать сметные расходы. Если каждый 10-й ICO переведет 1000 долларов США (1/70 от среднего смарт-контракта и бюджета веб-сайта) Fondu, это ICO преуспеет.</p>

        <p>Условия ICO просты, все, что нужно сделать, - это перевести ETH на ETH-адрес ниже, чтобы получить токены FDU взамен. За каждые 1 отправленный ETH вы получите 250 токенов FDU до 1 июля 2019 года. Затем краудфандинговая компания ICO закончится.</p>

        <p>Выпуск токенов Fondu ICO завершится 1 июля 2019 года. Все поступления будут конвертированы в доллары США и будут использованы для оплаты разработчикам и вкладчикам в репозитории Fondu. Использование и назначение токенов FDU еще предстоит полностью определить, однако мы обещаем представить пример использования платформы Fondu в ближайшем будущем. При покупке токенов FDU соблюдайте особую осторожность и убедитесь, что вы понимаете, что, покупая токены FDU, вы поддерживаете наше сообщество и активы, которые в будущем могут не иметь никакой ценности.</p>

        <!-- ICO tracker Vue -->
        <div id="ico-tracker">
          <div class="row">
            <div class="col-sm-9">
                <h5>Прогресс ICO (<a href="https://etherscan.io/token/0x176afbcd4cf9fb7c41ecf5ec0267b87f018f12f8">доказательство</a>):</h5>
                <p>{{ progress }}</p>
                <p>{{ raised }}</p>
                <p>Отправьте Ethereum на следующий адрес, чтобы купить FDU:</p>
                <h5>0x7a5eb747f7921b057fa081e52597bc2cf0a03c4a</h5>
            </div>
            <div class="col-sm-3">
              <p><img class="img-bordered" src="img/qr.png"></p>
            </div>
          </div>
        </div>

        <h2>Примечание по открытому исходному коду</h2>
        <p>Мы намерены сделать Fondu полностью доступным для всех. Наше намерение - дать отличным разработчикам шанс помочь опен-соурс сообществу. Наша цель - дать возможность кому-либо начать свой собственный ICO по любой причине, так же как любой может создать репозиторий GitHub. Относително GitHub - мы полностью прозрачны, и наш код смарт-контракта и любой код в целом всегда можно найти на <a href="https://github.com/backmeupplz/fondu">GitHub</a> по лицензии MIT, что означает, что наш код является открытым для всех тех, кто хочет его использовать. Как разработчики, мы можем только надеяться, что наш проект принесет пользу тем, кто в этом нуждается, поскольку мы стремимся расширить возможности и демократизировать процесс ICO для всех. Каждая строка кода, которую мы пишем в Fondu, всегда будет открыта для публики. Благодаря!</p>

        <h2>Заключение</h2>
        <p>Мы твердо убеждены в том, что, обладая таким невероятным опытом и знаниями между нашими разработчиками и консультационными группами, мы сможем запустить версию продукта первого поколения в течение 2 месяцев после того, как краудсейл достигнет нашей первоначальной цели в размере 50 000 долларов США , Пусть никто не ждет, пока первый ICO, сделанный на нашей бесплатной платформе с открытым исходным кодом, станет доступным. Единственным операционным ограничением является финансирование, помимо того, что уже было инвестировано нами лично. Мы также надеемся, что, действуя совместно как сообщество, мы сможем изменить то, как ICO воспринимаются широкой общественностью, демократизировать крипто климат от экстравагантных исключений, используемых спекулянтами и имитаторами, чтобы уровнять условия для специалистов и для не подкованных в этом деле пользователей повсюду. Только благодаря этой инициативе возможно быстрое внедрение криптовалют и блокчейна в массы.</p>

        <p>Команда разработчиков Fondu хотела бы поблагодарить вас заранее, и, пожалуйста, сообщите нам, если у вас есть вопросы, связавшись с нами в нашей группе Telegram: <a href="https://t.me/project_f">@project_f</a>. Члены команды онлайн как можно чаще, для того чтобы ответить на все вопросы. Вы отличны - оставайтесь такими же!</p>
        <p class="top-border">© 2018, Fondu</p>
      </div>
    </div>
  
    <!-- JSZip -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
    <!-- Contract builder -->
    <script src="contract-builder/index.js"></script>
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="profile-constructor-ru.js"></script>
    <script src="contract-constructor.js"></script>
    <script src="ico-tracker-ru.js"></script>
  </body>
</html>
