@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dark {
  --color-blue: #99afff;
  --color-gray: #38383a;
  --color-black: #cccccc;
  --color-dark: #2a0f0f;
  --color-white: #494949;
  --button-red: #4b1d1d;
  --button-dark: #162031;
  --background-root: #252429;
  --background-card: #3d3c42f8;
  --background-conract: #353535;
  --text-white: #000000;
  --text-black: #ffffff;
  --text-gray: #a3a3a3;
}
.light {
  --color-blue: #6486ff;
  --color-gray: #f9f9f9;
  --color-black: #05050f;
  --color-dark: #0f0f2a;
  --color-white: #ffffff;
  --button-red: #ff6464;
  --button-dark: #2d3748;
  --background-root: #ffffff;
  --background-card: #ffffff;
  --background-conract: #ffffff;
  --text-white: #ffffff;
  --text-black: #000000;
  --text-gray: #4b5563;
}
