@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dark {
  --background: #05050f;
  --background-section: #0f0f2a;
  --background-card: #141433;
  --text-main: #ffffff;
  --card-border: #1b1b3f;
  --input-border: #2f2f5f;
  --logo-from: #6486ff;
  --logo-to: #c751ff;
}
.light {
  --background: #ffffff;
  --background-section: #f9f9f9;
  --background-card: #ffffff;
  --text-main: #05050f;
  --card-border: #e8e7ed;
  --input-border: #e8e7ed;
  --logo-from: #6486ff;
  --logo-to: #c751ff;
}
.real {
  --main-color: #ff6464;
}
.test {
  --main-color: #6486ff;
}
